apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "x-metrics.fullname" . }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "x-metrics.fullname" . }}
subjects:
- kind: ServiceAccount
  name: {{ include "x-metrics.serviceAccountName" . }}
  namespace: {{ .Values.namespace }}
